@import "tailwindcss";

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}
::-webkit-scrollbar-thumb {
  background-color: #181819;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #393939;
  border-radius: 10px;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #27272a;
  background-image: none;
  flex: 1;
  padding: 0 0.5em;
  color: white;
  cursor: pointer;
  font-size: 1em;
  font-family: "Open Sans", sans-serif;
}
select::-ms-expand {
  display: none;
}
.select {
  position: relative;
  display: flex;
  width: 13em;
  height: 2em;
  align-items: center;
  line-height: 2;
  background: #27272a;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  background: #27272a;
  pointer-events: none;
  transition: 0.25s all ease;
}
.select:hover::after {
  color: #ffa100;
}
.select:hover {
  background-color: #27272a;
}
html,
body {
  background-color: #0f0f0f;
}
